{% extends "layout.html" %}

{% block content %}
    <div class="body-container">
        <h1>Natural Language Processing Use cases</h1>
        <div class="nlp">
            <div class="nlp-use">
                <p>Understand the social sentiment of your brand, product or service while monitoring online conversations. Sentiment Analysis is contextual mining of text which identifies and extracts subjective information in source material.</p>
                <strong>Sentiment Analysis</strong>
            </div>
            <div class="nlp-use">
                <p>Sometimes the three classes of sentiment (positive, negative and neutral) are not sufficient to understand the nuances regarding the underlying tone of a sentence. Our Emotion Analysis classifier is trained on our proprietary dataset and tells whether the underlying emotion behind a message is: Happy, Sad, Angry, Fearful, Excited or Bored.</p>
                <strong>Emotion Analysis</strong>
            </div>
            <div class="nlp-use">
                <p>Named Entity Recognition can identify individuals, companies, places, organization, cities and other various type of entities. API can extract this information from any type of text, web page or social media network.</p>
                <strong>Named Entity Recognition</strong>
            </div>
        </div>
    </div>
{% endblock %}
