{% extends "layout.html" %} {% block content %}

<div class="senti-container">
  <h3>Sentiment Analysis</h3>
  <p>
    Understand the social sentiment of your brand, product or service while
    monitoring online conversations. Sentiment Analysis is contextual mining of
    text which identifies and extracts subjective information in source
    material.
  </p>

  <form class=form-container action="/sentiment" method="post">
    <label for="message">Enter your sentiment content here</label><br />
    <textarea id="message" name="message" rows="10" cols="150"></textarea><br />
    <input type="submit" class="btn btn-info" value="Submit" />
  </form>

  <div class="sentiment-result">
    {% if sentiments %} 
      {% for key, value in sentiments.items() %} 
        {% if key =='positive' %}
          <div class="box">
            <img
              src="{{ url_for('static', filename='images/sentiments/positive.png') }}"
              alt="positive"
            />
            <h5>Positive</h5>
            <h5>{{ '%.1f' | format(100*sentiments[key]) }}%</h5>
          </div>
        {% elif key =='neutral'%}
          <div class="box">
            <img
              src="{{ url_for('static', filename='images/sentiments/neutral.png') }}"
              alt="positive"
            />
            <h5>Neutral</h5>
            <h5>{{ '%.1f' | format(100*sentiments[key]) }}%</h5>
          </div>
        {% elif key =='negative'%}
          <div class="box">
            <img
              src="{{ url_for('static', filename='images/sentiments/negative.png') }}"
              alt="positive"
            />
            <h5>Negative</h5>
            <h5>{{ '%.1f' | format(100*sentiments[key]) }}%</h5>
          </div>
        {% endif %} 
      {% endfor %} 
    {% endif %}
  </div>

  {% endblock %}
</div>
