* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    color: white;
    height: 10vh;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.selected {
    font-size: 140%;
}

.menus ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.menus  ul li {
    margin-right: 20px;
    font-size: 120%;
    font-weight: 500;
}
.menus  ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.menus ul li.selected a {
    background-color: black;
    color: white;
}

.body-container {
    width: 75%;
    margin: auto;
    height: auto;
    justify-content: center;
    justify-items: center;
}
.body-container h1 {
    text-align: center;
    margin: 10px;
}

.nlp {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.nlp-use {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;
    width: 30%;
    padding: 30px;
    margin: 20px;
    transition: background-color 0.3s ease;
    width: -moz-available;
    text-align: center;
    font-size: 130%;
}
.nlp-use strong {
    color: rgb(43, 46, 226);
}

.nlp-use:hover {
    background-color: #fdff7f; 
}





.footer {
    background-color: black;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}
.left {
    margin: 20px;
}
.right {
    margin: 20px;
}
.right ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.right  ul li {
    margin-right: 20px;
}
.right  ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}